.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

* {
    box-sizing: border-box; /*padding se nece dodadavati na celu sirinu vec na unutar*/
}

body {
	margin: 0;
	font-family: 'Montserrat', sans-serif;
	font-size: 62.5%; /*definise globalno velicinu fonta */
    font-weight: 300;
    color: #000;
    background-color: #f5e8f0;
    height: 100%;


}

/*===================== HEADER ============================*/


.hero {
	background: url("../img/cover-orgin.png");
	background-size: auto;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	position: relative;
	display: flex;
    justify-content: center;
    align-items: center;
	width: 100%;
	height: 100%;

}
.main_title {
	padding-top: 200px;
	padding-bottom: 200px;
}

.main_title h1 {
	font-size: 5em;
	color: white;
	font-weight: 600;
	text-align: center;

}

.main_title h3 {
	font-size: 2em;
	color: white;
	font-weight: 300;
	text-align: center;

}

p {
	font-size: 1em;
}


li a {
    text-decoration: none; /*link text ne bude podvucen*/
    color: white;
    font-weight: 400;
    font-size: 2em;
    display: block;
   text-align: center;
   padding: 0px 10px;
   margin-top: 0px;


}


.logo {
	float: left;
	margin: 5px;
	position: relative;
}

.navbar {
	display: table;
	/*position: fixed;*/
	padding-top: 10px;
	top: 0;
	left: 0;
    width: 100%;
    height: 500px;
    text-align: center;

}


.navbar li {
	display: inline-block;
	float: right;
	font-size: 1em;
}

.container {
    max-width: 1350px;
    padding: 0; 
    margin: 0 auto;
    width: 100%;
}

a:hover {
	color: #e11999;
}

.line {
	 border-left: 1.5px solid white;
}

.announcement img {
	vertical-align: bottom;
}


.text_ann{
	background-color: white;
	vertical-align: bottom;
	padding: 10px;

}


/*--------BURGER-------????*/

/*.close {
    width: 45px;
    height: 45px;
    position: absolute;
    top: 20px;
    right: 20px;
    display: block;
    margin: 0;
}
.close span {
    width: 35px;
    height: 2px;
    background: white;
    display: block;
    transform: rotate(45deg);
}
.close span:nth-child(2) {
    transform: rotate(-45deg);
    position: relative;
    top: -2px;
}

.burger {
    width: 44px;
    height: 25px;
    padding: 5px 0;
    float: right;
    margin-top: 12px;
}
.burger span {
    width: 100%;
    height: 2px;
    background-color: #000;
    display: block;
    margin-top: 9px;
}
.burger span:nth-child(1) {
    margin-top: 0;
}*/

/*======================= MEDIA QUERY ============================*/

@media only screen and (max-width: 768px ) {
	body {
		    background-color: lightblue;

	}

	.burger,
    .close {
    	display: none;
    }

}

@media only screen and (min-width: 1024px) {

    .burger,
    .close {
    	display: none;
    }
}


/*===================== DOGADJAJI ============================*/

.events {
	background-color: #f2f2f2;
	padding-bottom: 50px;

}

.sect_ev {
	padding-bottom: 50px;
}

.title {
	font-size: 2em;
	font-weight: 600;
	text-align: center;
	padding-top: 20px;
	color: #333333;
	
}


/*.rectangular_ul li {
	display: inline-block;
	width: 30%;
	margin: 15px;
	background-color: white;
	padding-bottom: 500px;

}*/

.rectangular {
	display: flex;
    flex-direction: column;
}

.announcement {
	padding: 20px;
	margin: auto;
}

.rectangular::after {
  content: "";
  clear: both;
  display: table;
}

.announcement img {
		background-color: white;
}


/*.rectangular_uls li {
	border: 1px solid red;
	display: inline-block;
	width: 20%;
	padding: 50px;
	margin: 20px;
}*/

.text_center {
		text-align: center;

}

.events h3 {
	text-decoration: underline;
	font-size: 1.5em;
}

/*radi kao cliping mask, sece sliku*/
.event_img {
	position: relative;
	height: 0;
	padding-bottom: 56.5%;
	overflow: hidden;
}

/*absolute se ugleda na relative koji mu je kao parent*/
.text_re {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}


/*CITAT*/

.qq {
	padding-bottom: 50px;
}
.quote {
	background-color: #b42f84;
	padding-top: 25px;
	padding-bottom: 25px;
}

.quote h2 {
	text-align: center;
	font-size: 2.8em;
	font-weight: 400;
	color: white;
	letter-spacing: 1px;

}

/*===================== GALERIJA ============================*/

.gall{
	padding-bottom: 50px;
}
.galery {
	background-color: #f2f2f2;
/*	margin-left: -100%;
	margin-right: -100%;*/
}


.foto {
  display: flex;
}

.column {
  float: left;
  width: 33.33%;
  padding: 10px;
}


.foto::after {
  content: "";
  clear: both;
  display: table;
}

/*===================== FORMA ============================*/

.form_main {
	background-color: white;
	height: 550px;

}

input, textarea {
  width: 100%;
  padding: 6px 12px;
  margin: 6px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  border-radius: 5px;

}

.forms {
  border-radius: 5px;
  padding: 20px;
  float: right;
  width: 500px;

}

label {
	font-size: 1.1em;
	font-weight: 300;
}

.sub {
  width: 100%;
  background-color: #b42f84;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 700;
  font-size: 1.7em;
}

.sub:hover {
	background-color: #85135c;
}

input:focus, textarea:focus {
	outline: none;
	border-color: #b42f84;
}
.form_content {
	padding: 60px;
}

.form_content h2 {
	font-size: 4em;
	font-weight: 600;
}

.form_content h3 {
	font-size: 2em;
	font-weight: 300;
}

/*===================== SARADNICI ============================*/

.associates_group {
	text-align: center;

}
.col {
		display: inline-block;
		margin-top: 40px; 
		padding: 50px;
}


/*===================== FOOTER ============================*/


.footer {
	width: 100%;
	height: 50px;
	background-color: #c464a2;
}

.foot_block{
	text-align: center;
	padding-top: 3px;
	padding-bottom: 3px;
}

/*.cov {
	background: url(../img/foot_cover.png);
  	-webkit-mask-image: -webkit-linear-gradient(right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
  background-size: contain;
}*/